<a href="https://colab.research.google.com/github/ThiagoBSanto/CursoAnaliseDados/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 1 - Programação em Python**

Nesse módulo vamos estudar a sintaxe nativa do Python.

**O que é Python?**

Python é uma linguagem de programação popular. Foi criada por Guido Van Rossum em 1991.

**Python pode ser usado para:**

1. Inteligência Artificial;
2. Machine Learning;
3. Desenvolvimento de software;
4. Desenvolvimento de Aplicativos;
5. Automações (RPA);
6. Iot (Internet das coisas);
7. Muitas outras

## **1. - Sintaxe básica**

podemos  utilizar aspas simples ('  ')

podemos  utilizar aspas duplas  ("  ")

Utilizando o \n para quebra de linha

Usamos o hashtag # para comentar qualquer codigo  a frente, na mesma linha

In [ ]:
# Usando aspas simples
print('Olá Mundo')

Olá Mundo

In [ ]:
#usando aspas duplas
print("Olá Mundo")

Olá Mundo

In [ ]:
#Usando quebr de linha
print("Olá\nmundo")

Olá
mundo

## **2. - Operadores matemáticos**

1. Soma
2. Subtração
3. Multiplicação
4. Divisão
5. Exponenciação
6. Resto da divisão
7. divisão de chão

In [ ]:
#soma
1+3+4

8

In [ ]:
#subtração
4-2

2

In [ ]:
#Multiplicação
5*9

45

In [ ]:
#Exponenciação
2**3

8

In [ ]:
# Resto da divisão
3 % 4

3

In [ ]:
# divisão de chão
8 // 4

2

1º Parêntesis;

---

2º Expoentes;

---


3º Multiplicações e Divisões; (da esquerda para a direita)

---


4º Somas e Subtrações. (da esquerda para a direita)

## **3. - Variáveis**

Variavéis são contêineres para armazenar valores de dados

Uma variável é criada no momento em que você atribui um valor a ela

In [ ]:
# Variavéis
nome = "Thiago"
idade = 36
homem = True
altura = 1.78

## **4. - Tipos de dados**

1. Lista - [] - Valores mutáveis
2. Tuplas - () - Valores imutáveis
3. Dicionarios - {} - Valores mutáveis - com chave e valor

In [ ]:
lista = ['Thiago', 36, 'Casado']

In [ ]:
lista[1]= 40
print(lista)

['Thiago', 40, 'Casado']

In [ ]:
tupla = ('Thiago',36,'casado')

In [ ]:
tupla[1] = 40

TypeError: 'tuple' object does not support item assignment

Tuplas não aceitam mudaças de valores, nesse caso, devemos recriar a variavel

In [ ]:
tupla=("THIAGO",40,"Casado")

In [ ]:
dicionario = {'nome':"Thiago",'idade':36, 'Estado civil': 'Casado'}

In [ ]:
dicionario.keys()

dict_keys(['nome', 'idade', 'Estado civil'])

In [ ]:
dicionario.values()

dict_values(['Thiago', 36, 'Casado'])

## **5. - Nomeação de variavéis**

Podemos nomerar variáveis e tipos de dados de diversar formas:


1.   Declarar as variavéis em uma única linha de comando;
2.   Atribuir um valor à diversas variavéis;
3.   Declarar usando uma **Lista**:
4.   Combinar variavéis
5.   Operar com operadores matemáticos;
6.   Muitos outros.

### Nomeando

In [ ]:
#Nomeando
laranja , arroz, aimpim = "fruta", "semente", "raiz"

In [ ]:
laranja

'fruta'

In [ ]:
arroz

'semente'

In [ ]:
aimpim

'raiz'

In [ ]:
# Nomeando
morango = uva = kiwi = "fruta"

In [ ]:
morango

'fruta'

In [ ]:
uva

'fruta'

In [ ]:
kiwi

'fruta'

### Nomeando Com listas

In [ ]:
lista_carros = ['vw','audi','Tesla']
marca1,marca2,marca3 = lista_carros

In [ ]:
marca1

'vw'

In [ ]:
marca2

'audi'

In [ ]:
marca3

'Tesla'

### Combinar Variavéis

In [ ]:
nome = "Thiago"
sobrenome = "Barbosa Santos"
nome_completo = nome +' '+ sobrenome

In [ ]:
nome_completo

'Thiago Barbosa Santos'

## **6. - Tipo da informação**

Na programção, o tipo de dados é um conceito importante. Variavéis podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes. O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:


1.   Text Type: *str*
2.   Numeric Types: *int, float, complex*
3.   Sequence Types: *list, tuple, range*
4.   Mapping Type: *dict*
5.   Set Types: *set, frozenset*
6.   Boolean Type: *bool*
7.   Binary Type: *bytes, bytearray, memoryview*

In [ ]:
String = str("THIAGO")
Inteiro = int(10)
Flutante = float(100.5)
Complex = complex(1j)
Lista = list(('Maçã','Morango'))
Tupla = tuple(('A','B'))
Range = range(6)
Dicionario = dict(nome =  'Thiago', idade = 36)
Set = set(('A','B','C'))
Frozenset = frozenset(('A','B','C'))
Boleano = bool(5)
Bytes = bytes(5)
BytesArray = bytearray(5)
Memomryview = memoryview(Bytes)

from datetime import datetime
Data = datetime.today().date()

In [ ]:
String

'THIAGO'

In [ ]:
Inteiro

10

In [ ]:
Flutante

100.5

In [ ]:
Complex

1j

In [ ]:
type(Complex)

complex

In [ ]:
Memomryview

In [ ]:
Data

datetime.date(2024, 2, 21)

## **7. - Comando** *round()*

Quando trabalhamos com números flutuante, podemos arrendodar o valor usando um comando nativo do Python round(valor,números de casas)

In [ ]:
valor = 1.78963

In [ ]:
round(valor,2)

1.79

## **8. - Comando** *len()*

A função len() retorna a quantidade de elementos de qualquer lista, dicionario, tupla, o tamanho da cadeia de string e outros..

In [ ]:
#lista
lista_compra = ["Café","Açúcar","Leite","Pão"]
len(lista_compra)

4

In [ ]:
#tupla
outra_lista = ("Café","Açúcar","Leite","Pão","Azeite")
len(outra_lista)

5

In [ ]:
#dicionario
dicio = {"Thiago":['Santos',"TI",39],"Kilma":['Frateles','Psicologa',30]}
len(dicio)

2

In [ ]:
#String
cadeia = "presos"
len(cadeia)

6

In [ ]:
# obs String
outra_cadeia = "uva ovo"
len(outra_cadeia)

7

## **9. - Fatiamento de String**


*   Strings são lista de bytes representado caracteres.

*   Podemos acessar suas posiçõe usando **colchetes**

*   String[ Posição Inicial: Posição Final ]

In [ ]:
minha_string = 'Aprender é top!'
minha_string[2:5]

'ren'

In [ ]:
minha_string[:5]

'Apren'

In [ ]:
minha_string[5:]

'der é top!'

## **10. - Manipulação de Strings**<p>

###Um tipo de dados bastante usado no dia a dia são as strings, ou cadeias de caracteres (ou sequências de caracteres). O tipo de dados string, ou str como é chamado em Python, possui várias operações úteis associadas a ele. Essas operações tornam Python uma linguagem bastante propícia para manipulação de textos.
Algumas funções mais utilizadas:

1. replace()
2. startswith()
3. endswith()
4. count()
5. capitalize()
6. isdigit()
7. isalnum()
8. upper()
9. lower()
10. find ()
11. strip()
12. split()

In [3]:
# Imprimindo uma string.
String = 'Olá Mundão!'
print( String )

# Tipo de uma string.
print( type( String ) )

# Tamanho de uma string.
print( len( String ) )

# Concatenação
print( String + ' Estou aprendendo Python...' )

# Substitui uma substring por alguma outra coisa.
Substituir = String.replace('Mundão', 'Mundo Louco :X')
print( Substituir )

# A string s começa com "Olá"?
print( String.startswith('Olá') )

# A string termina com "mundo"?
print( String.endswith('mundo') )

# Quantas ocorrências da palavra "a" a string possui?
print( String.count('M') )

# Capitalize - Transformar a primeira letra da primeira palavra em maiúscula.
String_02 = 'Thiago Santos'
print( String_02.capitalize() )

# Verificar se uma string só possui números.
String_03 = '123456789'
String_04 = '123456789ABC'
print( String_03.isdigit() )
print( String_04.isdigit() )

# Verificar se uma string é alfanumérica (só possui letras e números).
print( '12345abc'.isalnum() )

# Transformar tudo em Maiusculo
print( String.upper() )

# Transformar tudo em Minúsculo
print( String.lower() )

# Procurar algo na string
print( String.find('!') )

# Removendo espaçoes antes e fim da palavra
String_05 =' Olá Mundão! '
print( String_05.strip() )

# Removendo espaçoes antes e fim da palavra
String_06 ='Loja 1 vendou 10, Loja 2 vendou 20, Loja 3 vendou 30 '
print( String_06.split(',') )

Olá Mundão!
<class 'str'>
11
Olá Mundão! Estou aprendendo Python...
Olá Mundo Louco :X!
True
False
1
Thiago santos
True
False
True
OLÁ MUNDÃO!
olá mundão!
10
Olá Mundão!
['Loja 1 vendou 10', ' Loja 2 vendou 20', ' Loja 3 vendou 30 ']

## **11. - Comando Input**

###A função input() recebe como parâmetro uma string que será mostrada como auxílio ao usuário, geralmente o informando que tipo de dado o programa está aguardando receber.

input()

In [4]:
# Comando input
# Enviar uma informação momentânea

Nome = input('Qual seu nome? ')
Idade = input('Quantos anos você tem? ')

print('Seu nome é:', Nome)
print('Sua idade:', Idade)

Qual seu nome? THiago
Quantos anos você tem? 15
Seu nome é: THiago
Sua idade: 15

## **12. - Operadores de Comparação**

###Os operadores de comparação são usados ​​para comparar dois valores:
1. '==' ( Igual a )
2. '!=' ( Diferente )
3. '>' ( Maior )
4. '<' ( Menor )
5. '>=' ( Maior igual )
6. '<=' ( Menor igual )

In [5]:
# Operadores de Comparações - Parte 1
Igual = '=='
Diferente = '!='
Maior = '>'
Maior_Igual = '>='
Menor = '<'
Menor_Igual = '<='

print('8 é maior que 7:', 8 > 7 )
print('8 é menor que 7:', 8 < 7 )
print('8 é igual 7:', 8 == 7 )
print('10 é maior 10:', 10 > 10 )
print('10 é maior ou igual à 10:', 10 >= 10 )
print('10 é menor 10:', 10 < 10 )
print('10 é menor ou igual à 10:', 10 <= 10 )

8 é maior que 7: True
8 é menor que 7: False
8 é igual 7: False
10 é maior 10: False
10 é maior ou igual à 10: True
10 é menor 10: False
10 é menor ou igual à 10: True

## **13. - Operadores Lógicos**

###Os operadores lógicos são usados ​​para combinar instruções condicionais:
1. and (Retorna True se ambas as declarações forem verdadeiras)
2. or (Retorna True se uma das declarações for verdadeira)

In [6]:
# Operadores de Comparações - Parte 2
And = 'and'
Ou = 'or'
Negação = 'not'

print('8 é maior que 7 e 7 maior que 8:', 8 > 7 and 7 > 8 )
print('8 é maior que 7 e 7 menor que 8:', 8 > 7 and 7 < 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 == 7 or 7 == 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 > 7 or 7 > 8 )

8 é maior que 7 e 7 maior que 8: False
8 é maior que 7 e 7 menor que 8: True
8 é maior que 7 ou 7 menor que 8: False
8 é maior que 7 ou 7 menor que 8: True

## **14. - Operadores de Identidade**

###Os operadores de identidade são usados ​​para comparar os objetos, não se forem iguais, mas se forem realmente o mesmo objeto, com a mesma localização de memória:
1. is (Retorna True se ambas as variáveis ​​forem o mesmo objeto)
2. is not (Retorna True se ambas as variáveis ​​não forem o mesmo objeto)

In [7]:
String_01 = str('Olá Mundão')
String_02 = str('Olá Mundão')

print( String_01 is String_01 )
print( String_01 is String_02 )
print( String_01 == String_02 )
print( type(String_01) is type(String_02) )

True
False
True
True

## **15. - Operadores de Associação**

###Os operadores de associação são usados ​​para testar se uma sequência é apresentada em um objeto:
1. in (Retorna True se uma sequência com o valor especificado estiver presente no objeto)
2. not in (Retorna True se uma sequência com o valor especificado não estiver presente no objeto)

In [8]:
Lista_Ações = ['Magalu', 'Via', 'Assai', 'Carrefour']

print( 'Via' in Lista_Ações )
print( 'Via' not in Lista_Ações )

True
False

## **16. - Manipulando Listas**

###As listas são usadas para armazenar vários itens em uma única variável.

As listas são um dos 4 tipos de dados internos do Python usados ​​para armazenar coleções de dados, os outros 3 são Tuple , Set e Dictionary , todos com qualidades e usos diferentes.<p>
Comandos mais utilizados:
1. append() - Para adicionar um item ao final da lista
2. len() - Calcular o tamanho da lista
3. [  ] - Acessar posições
4. del() - Exlcuir um elemtno
5. clear() - Limpar a lista
6. insert() - Para inserir um item de lista em um índice especificado
7. extend() - Anexar elementos de outra lista à lista atual
8. remove() - Remove o item especificado
9. pop() - Remove o índice especificado.
10. sort() - Ordenar os valores
11. copy() - Faz uma copia da Lista
12. index() - Retorna o index do elemento da lista

In [9]:
# Manipulando dados dentro das Lista
Lista_Vazia = []
print('Lista antes:', Lista_Vazia, '\n' )

# Inserindo valores na Lista
Lista_Vazia.append(1)
Lista_Vazia.append(2)
Lista_Vazia.append(3)
print('Lista Depois:', Lista_Vazia, '\n' )

# Tamanho da lista
print('Lista contém:', len(Lista_Vazia), 'elementos', '\n' )

# Tamanho da lista
print('Acessando o 1º Elemento:', Lista_Vazia[0] )
print('Acessando o 2º Elemento:', Lista_Vazia[1] )
print('Acessando o último Elemento:', Lista_Vazia[-1] )
print('Acessando um periodo:', Lista_Vazia[0:2], '\n' )

# Excluindo valor na lista
del Lista_Vazia[1]
print('Depois da exclusão:', Lista_Vazia, '\n' )

# Limpando a lista
print('Depois da Limpeza:', Lista_Vazia.clear(), '\n' )

# Inserindo um valor com uma posição
Lista_Inserir = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir.insert( 0, 'Posição 4' )
print( Lista_Inserir, '\n' )

# Inserindo uma lista na outra
Lista_Inserir_01 = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir_02 = ['Posição 4', 'Posição 5', 'Posição 6']
Lista_Inserir_01.extend( Lista_Inserir_02 )
print( Lista_Inserir_01, '\n' )

# Removendo itens especifico pelo nome
Lista_Inserir_01.remove('Posição 6')
print( Lista_Inserir_01, '\n' )

# Removendo itens pelo index
Lista_Inserir_01.pop(0)
print( Lista_Inserir_01, '\n' )

# Ordenar uma lista
Lista_Alfabetica = ['Z', 'C', 'A', 'B', 'L']
Lista_Alfabetica.sort()
print( Lista_Alfabetica, '\n' )

# Ordenar uma lista de forma inversa
Lista_Alfabetica.sort( reverse=True )
print( Lista_Alfabetica, '\n' )

# Copiar uma Lista
Lista_Alfabetica_02 = Lista_Alfabetica.copy()
print( Lista_Alfabetica_02, '\n' )

# Indetificar o Index do elemtno na lista
print( Lista_Alfabetica_02.index('L'), '\n' )

Lista antes: []

Lista Depois: [1, 2, 3]

Lista contém: 3 elementos

Acessando o 1º Elemento: 1
Acessando o 2º Elemento: 2
Acessando o último Elemento: 3
Acessando um periodo: [1, 2]

Depois da exclusão: [1, 3]

Depois da Limpeza: None

['Posição 4', 'Posição 1', 'Posição 2', 'Posição 3']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5', 'Posição 6']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['A', 'B', 'C', 'L', 'Z']

['Z', 'L', 'C', 'B', 'A']

['Z', 'L', 'C', 'B', 'A']

1

## **17. - Pacote Externo - Datetime**

###O datetime módulo fornece classes para manipulação de datas e horas.

In [13]:
import datetime

# Dia de Hoje
Dia_Hoje = datetime.datetime.today().date()
print( f'Hoje é: {Dia_Hoje} \n' )

# Construindo uma Data
Data = datetime.date(2020, 10, 1)
print( f'Construindo uma Data {Data} \n' )

# Acessando os atributos da DAta
Ano = Data.year
Mes = Data.month
Dia = Data.day
print(f'Hoje Construido é dia {Dia} do mês {Mes} do ano de {Ano} \n')

# Operação
Intervalo =  Dia_Hoje - Data
print(f'Já ocorreu {Intervalo} dias \n' )

# Ajustando o formato
Novo_Formato = Dia_Hoje.strftime('%d/%m/%y')
print( f'Hoje é: {Novo_Formato} \n' )

# Aumentar dias ou diminuir
print( f'Somando 30 dias, {Dia_Hoje + datetime.timedelta(days = 30)}' )
print( f'Diminuindo 30 dias, {Dia_Hoje - datetime.timedelta(days = 30)}' )

Hoje é: 2024-02-21

Construindo uma Data 2020-10-01

Hoje Construido é dia 1 do mês 10 do ano de 2020

Já ocorreu 1238 days, 0:00:00 dias

Hoje é: 21/02/24

Somando 30 dias, 2024-03-22
Diminuindo 30 dias, 2024-01-22

## **18. - Pacote Externo - Time**

###Este módulo fornece várias funções relacionadas ao tempo

In [14]:
# Importar a Lib
import time

print('Esse print foi rápido!')
time.sleep(2.5)
print('Esse print aconteceu depois de 2.5 segundos \n')

# Capturar o local agora
Agora = time.localtime()
print( type(Agora) )
print( Agora )
print( time.strftime('%m/%d/%Y, %H:%M:%S', Agora ), '\n' )

# Converter uma string para time
Time_Texto = '21 June, 2018'
Conversao = time.strptime(Time_Texto, '%d %B, %Y')
print(Conversao)

Esse print foi rápido!
Esse print aconteceu depois de 2.5 segundos

<class 'time.struct_time'>
time.struct_time(tm_year=2024, tm_mon=2, tm_mday=21, tm_hour=20, tm_min=16, tm_sec=46, tm_wday=2, tm_yday=52, tm_isdst=0)
02/21/2024, 20:16:46

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=172, tm_isdst=-1)

## **19. - Pacote Externo - Math**

###O Python possui um conjunto de funções matemáticas integradas, incluindo um extenso módulo matemático, que permite realizar tarefas matemáticas em números.

In [15]:
import math

# Sem necessidade do math

# Minino e Maximo
Tupla = (10, 15, 5, 8, 20)
print( min(Tupla) )
print( max(Tupla) )

# ABS  retorna o valor absoluto (positivo) do número especificado
print( abs(-7.25) )

# Retorna a potencia (seria o msm que 3 * 3 * 3 * 3)
print( pow(3, 4) )

# Raiz quadrada
Raiz_Quadrada = math.sqrt( 81 )
print( Raiz_Quadrada )

# Arrendondamento

# Arredonda um número para cima até o número inteiro mais próximo
print( math.ceil(1.4) )

# Arredonda um número para baixo até o número inteiro mais próximo
print( math.floor(1.4) )

# retorna o numero de PI
print( math.pi )

5
20
7.25
81
9.0
2
1
3.141592653589793

## **20. - Pacote Externo - Random**

###Este módulo implementa geradores de números pseudo-aleatórios para várias distribuições.

In [17]:
# import random
import random

# Lista numerico
Lista_Numerica = [1, 2, 3, 4, 5, 6]
print(f'O número sorteado foi: {random.choice(Lista_Numerica)} \n')

# Sortear uma letra da palavra
Palavra = 'Thiago'
print(f'A Letra sorteada foi: {random.choice(Palavra)} \n')

# Numero aleatorio entre 0 e 1
Numero_Aleatorio = random.random()
print(f'O Numero gerado foi: {Numero_Aleatorio} \n')

Numero_Aleatorio_01 = random.randint(0, 10)
print(f'Número aleatorio entre 1 e 10 foi: {Numero_Aleatorio_01}')

O número sorteado foi: 4

A Letra sorteada foi: o

O Numero gerado foi: 0.4804570972891826

Número aleatorio entre 1 e 10 foi: 4

## **21. - Pacote Externo - Statistics**

###Este módulo fornece funções para calcular estatísticas matemáticas de dados numéricos e interage com as listas

In [18]:
# Importando a Statistics para operar nas listas
import statistics

# Retirando a média
Media = statistics.mean( [1, 2, 3, 4, 4] )
print(f'A media seria: {Media} \n')

Mediana = statistics.median( [1, 2, 3, 4, 4] )
print(f'A mediana seria: {Mediana} \n')

Moda = statistics.mode( [1, 2, 3, 4, 4] )
print(f'A moda seria: {Moda}')

A media seria: 2.8

A mediana seria: 3

A moda seria: 4

## **22. - Condição If**

###if é a declaração mais simples de tomada de decisão. <p>Ele é usado para decidir se uma determinada instrução ou bloco de instruções será executado ou não, ou seja, se uma determinada condição for verdadeira, um bloco de instruções será executado, caso contrário, não.

if condição :<p>
*   declarações a serem executadas se
*   condição é verdadeira

In [19]:
# Condição se a pessoa tiver menor de 18 anos, ela nao no sistema.
Idade = 20

if Idade >= 18:
  print('você é maior de idade!')

você é maior de idade!

In [20]:
# Condição IF + ELSE

Idade = int( 15 )

if Idade >= 18:
  print('Você é de maior!')

else:
  print('Você é menor de Idade!!! gugudada')

Você é menor de Idade!!! gugudada

In [21]:
# Condição IF + ELSE + ELIF

Idade = int( 14 )

if Idade > 18:
  print('Você é de maior!')

elif Idade == 18:
  print('Opa! Welcome the jungle!!! ')

elif Idade < 18 and Idade >= 14:

  if Idade % 2 == 0:
    print('Quase um adulto!!! Aproveita !!!!!!!!!!')

else:
  print('Você é menor de Idade!!! gugudada')

Quase um adulto!!! Aproveita !!!!!!!!!!

## **23. - Estrutura de Loop FOR**

###O loop For do Python é usado para travessia seqüencial, ou seja, é usado para iterar sobre um iterável como string, tupla, lista, etc. Ele se enquadra na categoria de iteração definida . Iterações definidas significam que o número de repetições é especificado explicitamente com antecedência. <p>
for variável in objeto:
*   loop

In [22]:
# For [ Loop ]
for QualquerCoisaQueVoceQuiser in range(10):
  print( QualquerCoisaQueVoceQuiser ** 2  )

0
1
4
9
16
25
36
49
64
81

In [23]:
# For + Lista

Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia', 'Equador',
                'Colombia', 'Suriname', 'Guiane', 'Goianai France']

for Loop in Lista_Paises:
  print( Loop )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname
Guiane
Goianai France

In [24]:
# For + Lista
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']

for Loop in range( len(Lista_Paises) ):
  print( Lista_Paises[Loop] )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname, Guiane, Goianai France

In [25]:
# For + Lista + IF + enumerate
for Posicao, P in enumerate( Lista_Paises ):
  print( Posicao / 4 , P )

0.0 Brasil
0.25 Argentina
0.5 Uruguai
0.75 Chile
1.0 Paraguai
1.25 Bolivia
1.5 Equador
1.75 Colombia
2.0 Suriname, Guiane, Goianai France

In [26]:
# for + LISTa + IF + RANGE
Lista_Numerica = [ Numero for Numero in range(1, 100, 5) ]
Armazenar = []

for x in Lista_Numerica:

  if x % 2 == 0:
    Armazenar.append( x )

print( Armazenar )

from pandas import DataFrame
print( DataFrame(Armazenar) )

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96]
    0
0   6
1  16
2  26
3  36
4  46
5  56
6  66
7  76
8  86
9  96

In [27]:
# For + Lista + Dicionario

Lista = [ 'Brasil', 'Argentina', 'Uruaguai', 'Paraguai' ]

Dicionario = {
    'Brasil' : 'Real',
    'Argentina' : 'Peso ARG',
    'Uruaguai' : 'Peso URU',
    'Paraguai' : 'Guarany'
}

for Paises in Lista:

  if Paises == 'Brasil':
    print( f'Moeda do {Paises} é { Dicionario[Paises] }' )
    print('Mooeda do', Paises, 'é', Dicionario[Paises] )
    print('Mooeda do ' + str (Paises) + ' é ' + str(Dicionario[Paises] ) )
  else:
    pass

Moeda do Brasil é Real
Mooeda do Brasil é Real
Mooeda do Brasil é Real

## **24. - Estrutura de Loop WHILE**

###Python While Loop é usado para executar um bloco de instruções repetidamente até que uma determinada condição seja satisfeita. E quando a condição se torna falsa, a linha imediatamente após o loop no programa é executada. While loop se enquadra na categoria de iteração indefinida . A iteração indefinida significa que o número de vezes que o loop é executado não é especificado explicitamente com antecedência.<p>
while expressão:
*   loop

In [29]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

0
1
2
3
4
5
6
7
8
9
10

In [30]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
5
6
7
8
9
10

In [31]:
# While True
# Joginho
import random

while True:

  Jogador1 = random.randint(0, 6)
  Jogador2 = random.randint(5, 10)

  if Jogador1 > Jogador2:
    print(Jogador1, '-', Jogador2, 'FINALMENTE !!!!!!!!!!!')
    break

  else:
    print(Jogador1, '-', Jogador2)

0 - 5
3 - 8
4 - 5
0 - 9
2 - 8
6 - 7
3 - 10
1 - 9
5 - 7
1 - 8
6 - 10
2 - 6
6 - 5 FINALMENTE !!!!!!!!!!!

## **25. - Estrutura de Quebra BREAK e CONTINUE**

###O uso de loops no Python automatiza e repete as tarefas de maneira eficiente. Mas, às vezes, pode surgir uma condição em que você deseja sair completamente do loop, pular uma iteração ou ignorar essa condição. Isso pode ser feito por instruções de controle de loop . As instruções de controle de loop alteram a execução de sua sequência normal. Quando a execução sai de um escopo, todos os objetos automáticos que foram criados nesse escopo são destruídos. Python suporta as seguintes instruções de controle.

In [32]:
# For + Lista + IF + Break
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']
Loop = 0

for P in Lista_Paises:

  if P == 'Chile':
    print('Chegou')
    break

  else:
    pass

  Loop += 1
  print( Loop )

1
2
3
Chegou

In [33]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

    break

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9

In [34]:
# Loop de 1 a 10
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 5:
      continue
      print(f'{i}º interação --> Estou no IF')

    else:
        # otherwise print the value
        # of i
        print(f'{i}º Continue continua sempre!!!!')
        #print(i)

1º Continue continua sempre!!!!
2º Continue continua sempre!!!!
3º Continue continua sempre!!!!
4º Continue continua sempre!!!!
6º Continue continua sempre!!!!
7º Continue continua sempre!!!!
8º Continue continua sempre!!!!
9º Continue continua sempre!!!!
10º Continue continua sempre!!!!

## **26. - Estrutura de Funções**

###Uma função é um bloco de código que só é executado quando é chamado.
Você pode passar dados, conhecidos como parâmetros, para uma função.
Uma função pode retornar dados como resultado.

In [35]:
# Funções simples
def Somar(Valor1, Valor2):
  Soma = Valor1 + Valor2
  print(Soma)

Somar(-67.900, 10.121233)

-57.778767

In [36]:
def Boas_Vindas():
  print('********* PYTHON **************')

Boas_Vindas()

********* PYTHON **************

In [41]:
from random import randint
# Função
def Sobrenome( Algum_Texto, Numero ):
  print(f'Nome dele é: {Algum_Texto}')

  if Numero >= 10:
    print('Maior que 10')
  else:
    print('NADA!')

Lista_Nomes = ['Thiago', 'Luigi', 'Mariana']

for Nome in Lista_Nomes:
  Sobrenome( Nome, randint(1,12) )

Nome dele é: Thiago
Maior que 10
Nome dele é: Luigi
NADA!
Nome dele é: Mariana
Maior que 10

## **27. - Estrutura Lambda**

###Uma função lambda é uma pequena função anônima.
Uma função lambda pode receber qualquer número de argumentos, mas pode ter apenas uma expressão.

In [42]:
# Função
Funcao = lambda valor: valor + 10
print( Funcao( 10 ) )

Funcao_02 = lambda valor1, valor2 : valor1 + valor2
print( Funcao_02( 100 , 100 ) )

20
200

In [45]:
funcao3 = lambda x, y : math.sqrt((x**2)+(y**2))
print(funcao3(3,4))

5.0

## **28. - Estrutura TRY**

###O **try** permite testar um bloco de código quanto a erros.<p>
O **except** permite que você lide com o erro.<p>
O **else** permite executar código quando não há erro. <p>
O **finally** permite que você execute código, independentemente do resultado dos blocos try e except. <p>

Deu Ruim!!!

In [48]:
try:
  print(Algo_Coisa_Que_Nao_Defini)

except NameError:
  print("Ops deu algum erro!")

finally:
  print("Vou ser executado de qualquer forma")

Ops deu algum erro!
Vou ser executado de qualquer forma

## **29. - Estrutura de Classes/Objetos**

###Python é uma linguagem de programação orientada a objetos.<p>
Quase tudo em Python é um objeto, com suas propriedades e métodos.<p>
Uma classe é como um construtor de objetos, ou um "projeto" para criar objetos.

In [49]:
class Pessoa:

  # Metodo Construtor
  def __init__(self, Nome, Idade):
    self.Nome = Nome
    self.Idade = Idade

  def Boas_Vindas(self):
    print('Olá sem benvindo: ', self.Nome)

  def Recusado(self):
    print('Seu acesso foi recusado!')

  # Função
  def Maior_Idade(self):
    if self.Idade >= 18:
      print('Usuário é maior de idade')
      self.Boas_Vindas()
    else:
      print('Usuário é menor de Idade')
      self.Recusado()

In [52]:
Dados = Pessoa('Thiago', 36)

In [53]:
Dados.Maior_Idade()

Usuário é maior de idade
Olá sem benvindo:  Thiago

## **30. - Módulos/Pacotes**

###Considere um módulo como sendo o mesmo que uma biblioteca de código.<p>
Para instalar um pacote utilize o 'pip install'

In [55]:
# !pip install pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## **31. - Print formatado**

###Existe diversas formas de utilizar prints no python

In [56]:
print('Soma de 2 + 2 é:', 2 + 2 )

Soma de 2 + 2 é: 4

In [57]:
print( f'Soma de 2 + 2 é: { round(2 + 2) }' )

Soma de 2 + 2 é: 4

In [58]:
print('Soma de 2 + 2 é: {}'.format(2+2) )

Soma de 2 + 2 é: 4

## **Exercicios de Python para resolver!**

###1ª Exercício
Escreva um programa que mostre a mensagem 'Hello World!' na tela.

In [59]:
print("Hello world")

Hello world

###2ª Exercício
Faça um programa que solicite um número do usuário e apresente a seguinte mensagem na tela:

"O número digitado foi [número]".

In [62]:
valor = input("Digite um número: ")
print(f'O valor digitado foi {valor}.')

Digite um número: 10
O valor digitado foi 10.

### 3ª Exercício
Escreva um programa que solicite o nome e o sobrenome do usuário. Ao final o programa deverá apresentar o nome completo do usuário na tela.

In [65]:
nome = input("Informe o primeiro nome: ").strip().title()
sobrenome = input("Informe o sobrenome: ").strip().title()
print(f"nome completo: {nome} {sobrenome}")

Informe o primeiro nome: thiago
Informe o sobrenome: baRbosA
nome completo: Thiago Barbosa

### 4ª Exercício
Faça um programa que solicite três números inteiros do usuário e imprima a soma destes.

In [66]:
num1=int(input('Número 1: '))
num2=int(input('Número 2: '))
num3=int(input('Número 3: '))
print(f'{num1}+{num2}+{num3}={num1+num2+num3}')

Número 1: 4
Número 2: 5
Número 3: 6
4+5+6=15

###5ª Exercício
Escreva um programa que solicite duas notas do usuário e apresente a média na tela da seguinte forma:

"A média das notas [nota1] e [nota2] é [média]"

In [67]:
nota1=float(input('Nota 1: \n'))
nota2=float(input('Nota 2: \n'))
media=(nota1+nota2)/2
print(f'A média das notas {nota1} e {nota2} é {media}')

Nota 1:
8
Nota 2:
9
A média das notas 8.0 e 9.0 é 8.5

###6ª Exercício
Faça um programa que calcule a raiz quadrada de um número. O usuário deve inserir um número e o programa deve mostrar na tela o resultado da raiz quadrada do número inserido.

In [68]:
num=float(input('Digite um número: '))
print(f'A raiz quadrada de {num} é {num**(1/2)}')

Digite um número: 25
A raiz quadrada de 25.0 é 5.0

###7ª Exercício
Faça um programa que peça 5 números de ponto flutuante do usuário e apresente no final a média dos números digitados.

In [69]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
num3=float(input('Número 3: '))
num4=float(input('Número 4: '))
num5=float(input('Número 5: '))
media=(num1+num2+num3+num4+num5)/5
print(f'Média: {media}')

Número 1: 5.5
Número 2: 6.3
Número 3: 8.8
Número 4: 9.4
Número 5: 1.6
Média: 6.32

###8ª Exercício
Escreva um programa que faça a conversão de um dado valor de metro para quilômetro

In [70]:
num=float(input('Digite um valor em metros: '))
print(f'{num} metros equivale a {num/1000} km')

Digite um valor em metros: 200
200.0 metros equivale a 0.2 km

###9ª Exercício
Escreva um programa que calcule a área de uma circunferência. O usuário deve digitar o valor do raio e ao final o programa deverá mostrar na tela a área da circunferência.

Use a fórmula: área=pi*r² , em que pi é uma constante e r o raio da circunferência.

Dica: você pode usar a biblioteca math para pegar a constante pi.

In [71]:
from math import pi
raio=float(input('Digite o valor do raio da circunferência: '))
print(f'Área da circunferência: {pi*raio**2:.2f}')

Digite o valor do raio da circunferência: 3
Área da circunferência: 28.27

###10ª Exercício
Faça um programa que peça uma temperatura em Fahrenheit (F) e converta esta temperatura para grau Celsius (C), mostrando o resultado da conversão na tela.

Use a fórmula: C = 5 * ((F-32) / 9).

In [72]:
f=float(input('Temperatura em Fahrenheit: \n'))
c=5*((f-32)/9)
print(f'{f:.2f}° F equivale a {c:.2f}° C .')

Temperatura em Fahrenheit:
240
240.00° F equivale a 115.56° C .

###11ª Exercício
Escreva um programa que peça dois números e apresente a divisão e multiplicação entre eles. A tela de apresentação deverá seguir o seguinte formato:

"[número1]x[número2]=[multiplicação]"

"[número1]/[número2]=[divisão]"

In [74]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
print(f'{num1}x{num2}={num1*num2}')
print(f'{num1}/{num2}={num1/num2}')

Número 1: 4
Número 2: 2
4.0x2.0=8.0
4.0/2.0=2.0

###12ª Exercício
Escreva um programa que receba o nome, sobrenome e idade do usuário e apresente a seguinte mensagem na tela:

"Seja bem-vindo [nome] [sobrenome]."

"Você possui [idade] anos de idade."

No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e depois da string, enquanto que o último permite colocar a string no formato titlecased (capitaliza a string).

In [75]:
nome=input('Nome: ')
sobrenome=input('Sobrenome: ')
idade=int(input('Idade: '))
print(f'Seja bem-vindo {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade.')

Nome: Thiago
Sobrenome: Santos
Idade: 36
Seja bem-vindo Thiago Santos
Você possui 36 anos de idade.

###13ª Exercício
Escreva um programa que peça um número do usuário via método input e converta esse número para o formato float.

In [76]:
num=input('Digite um número:: ')
num=float(num)
print(type(num))

Digite um número:: 25
<class 'float'>

###14ª Exercício
Escreva um programa que peça o nome e a idade do usuário. Caso a idade do usuário seja maior ou igual a 18 anos apresente a seguinte mensagem: "Seja bem-vindo ao nosso site [nome]!"; caso contrário, apresente a seguinte mensagem: "Você não pode acessar nosso site [nome].".

In [77]:
nome=input('Digite seu nome: ')
idade=int(input('Digite sua idade: '))
if idade>=18:
    print(f'Seja bem-vindo ao nosso site {nome.strip().title()}.')
else:
    print(f'Você não pode acessar nosso site {nome.strip().title()}.')

Digite seu nome: Thiago
Digite sua idade: 20
Seja bem-vindo ao nosso site Thiago.

###15ª Exercício
Elabore um programa para calcular a hipotenusa de um triângulo.

Dicas:

Veja o módulo math (math.hypot)

Utilize a seguinte fórmula: hipotenusa=(a²+b²)¹/2:

In [79]:
from math import hypot

cateto_a=float(input('Digite o Cateto Adjacente: '))
cateto_o=float(input('Digite o Cateto Oposto: '))

hipotenusa1=(cateto_a**2+cateto_o**2)**(1/2)  #forma de cálculo 1
hipotenusa2=hypot(cateto_a,cateto_o)  #forma de cálculo 2

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Digite o Cateto Adjacente: 3
Digite o Cateto Oposto: 4
Hipotenusa: 5.0
Hipotenusa: 5.0

###16ª Exercício
Faça um programa que recebe um número inteiro do usuário e calcule o fatorial deste número.
Dica: utilize o módulo math do Python, especificamente math.fatorial.*texto em itálico*

In [80]:
import math
num=int(input('Digite um número inteiro: '))
fatorial=math.factorial(num)
print(f'O fatorial de {num} é {fatorial}')

Digite um número inteiro: 5
O fatorial de 5 é 120

###17ª Exercício
Escreva um programa que peça um número do usuário e calcule o logaritmo deste número nas bases 10 e 2.

Dica: utilize o módulo math.*texto em itálico*

In [81]:
import math

num=float(input('Digite um número: '))
log1=math.log10(num)  #também podemos fazer: math.log(num,10)
log2=math.log(num,2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite um número: 100
O log de 100.0 na base 10 é 2.0
O log de 100.0 na base 2 é 6.643856189774725

###18ª Exercício
Faça um programa que peça a base e a altura de um retângulo e calcule e mostre na tela a área e o perímetro.

In [82]:
base=float(input('Digite a base do retângulo: '))
altura=float(input('Digite a altura do retângulo: '))

area=base*altura
perimetro=2*base+2*altura

print(f'O retângulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retângulo é: {area}')
print(f'O perímetro deste retângulo é: {perimetro}')

Digite a base do retângulo: 4
Digite a altura do retângulo: 10
O retângulo digitado tem base 4.0 e altura 10.0.
A área deste retângulo é: 40.0
O perímetro deste retângulo é: 28.0

###19ª Exercício
Escreva um programa que solicite o nome, o sobrenome e o salário atual de um funcionário. Ao fim, calcule seu novo salário considerando cenários hipotéticos, com os seguintes aumentos: 10%, 25%,30% e 50%. A mensagem na tela deverá seguir o seguinte padrão:

"Olá, [nome] [sobrenome]"

"Seu salário atual é : [salário]"

"Seu salário com 10% de aumento é: [salário]"

"Seu salário com 25% de aumento é: [salário]"

"Seu salário com 30% de aumento é: [salário]"

"Seu salário com 50% de aumento é: [salário]"

No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e após a string, enquanto que o último permite colocar a string no formato titlecased (capitaliza string).

In [83]:
nome=input('Digite seu nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
salario=float(input('Digite seu salário: '))
salario1=salario+salario*0.1  #salário com 10% de aumento
salario2=salario+salario*0.25  #salário com 25% de aumento
salario3=salario+salario*0.3  #salário com 30% de aumento
salario4=salario+salario*0.5  #salário com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R$ {salario:.2f}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Digite seu nome: Thiago
Digite seu sobrenome: Santos
Digite seu salário: 1000
Olá, Thiago Santos
Seu salário atual é: R$ 1000.00
Seu salário com 10% de aumento é: R$ 1100.00
Seu salário com 25% de aumento é: R$ 1250.00
Seu salário com 30% de aumento é: R$ 1300.00
Seu salário com 50% de aumento é: R$ 1500.00

###20ª Exercício
Escreva um programa que peça um número inteiro do usuário e calcule e imprima a tabuada deste número.

In [84]:
num=int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número inteiro:
5
Tabuada do número: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [89]:
num=int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
for i in range(10):
  print(f'{num} x {i+1} = {num*(i+1)}')

Digite um número inteiro:
5
Tabuada do número: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###21ª Exercício
Faça um programa que solicite um número inteiro e mostre o seu valor absoluto. Dica: use a função built-in abs().

In [91]:
num=int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é {abs(num)}.')

Digite um número inteiro: -9
O valor absoluto de -9 é 9.

###22ª Exercício
Faça um programa que peça uma string ao usuário e mostre na tela a quantidade de caracteres.

Dica: use a função built-in len() e trate a string com o método strip().

In [92]:
string=input('Digite algo: ')
print(f'Você digitou: {string}')
print(f'Quantidade de caracteres do que você digitou é: {len(string)}')

Digite algo: o que?
Você digitou: o que?
Quantidade de caracteres do que você digitou é: 6

###23ª Exercício
Escreva um programa que peça um número inteiro do usuário e mostre se esse número é par ou ímpar. A mensagem na tela deverá seguir o seguinte formato:

"O número [número] é [par/ímpar]"

In [93]:
num=int(input('Número inteiro: '))
if num%2==0:
    print(f'O número {num} é par.')
else:
    print(f'O número é {num} é ímpar.')

Número inteiro: 5
O número é 5 é ímpar.

###24ª** Exercício
O Índice de Massa Corporal (IMC) é utilizado para mensurar o peso ideal de uma pessoa. Escreva um programa que peça o nome, a idade , o peso e a altura do usuário. Ao final calcule e mostre o resultado do seu IMC e classifique este resultado de acordo com a regra a seguir.

IMC<17 - Muito abaixo do peso ideal

17<=IMC<18,5 - Abaixo do peso

18,5<=IMC<25 - Peso normal

25<=IMC<30 - Acima do peso

30<=IMC<35 - Obesidade I

35<=IMC<40 - Obesidade II (severa)

IMC>=40 - Obesidade III (mórbida)

Lembre que: IMC=massa/(altura*altura)

In [94]:
print('Cálculo do IMC')
altura=float(input('Insira sua altura : \n'))
peso=float(input('Insira seu peso : \n'))
imc=peso/(altura*altura)  #poderíamos fazer peso/altura**2
print('Processando seus dados...')
if imc<17:
    print('Muito abaixo do peso.')
elif 17<=imc<18.5:
    print('Abaixo do peso.')
elif 18.5<=imc<25:
    print('Peso normal.')
elif 25<=imc<30:
    print('Acima do peso.')
elif 30<=imc<35:
    print('Obesidade Grau I.')
elif 35<=imc<40:
    print('Obesidade Grau II (severa).')
else:
    print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Insira sua altura :
1.78
Insira seu peso :
82
Processando seus dados...
Acima do peso.

###25ª Exercício
Escreva um programa que receba dois números de ponto flutuante e mostre na tela o maior número digitado. Considere a possibilidade de o usuário digitar dois números iguais.

In [95]:
n1=float(input('Valor 1 : '))
n2=float(input('Valor 2 : '))
if n1>n2:
    print(f'{n1}>{n2}')
elif n1==n2:
    print(f'{n1}={n2}')
else:
    print(f'{n1}<{n2}')

Valor 1 : 1
Valor 2 : 2
1.0<2.0

###26ª Exercício
Escreva um programa que verifique se um determinado número digitado pelo usuário é nulo, positivo ou negativo.

In [96]:
num=float(input('Digite um número: '))
if num>0:
    print('Número positivo.')
elif num==0:
    print('Número nulo.')
else:
    print('Número negativo.')

Digite um número: -5
Número negativo.

###27ª Exercício
Escreva um programa que receba três números do usuário e mostre na tela o maior número digitado.

In [97]:
numero1=float(input('Número 1: '))
numero2=float(input('Número 2: '))
numero3=float(input('Número 3: '))

if (numero1>=numero2) and (numero1>=numero3):
    print(f'Maior número: {numero1}')
elif (numero2>=numero1) and (numero2>=numero3):
    print(f'Maior número: {numero2}')
else:
    print(f'Maior número: {numero3}')

Número 1: 2
Número 2: 3
Número 3: 5
Maior número: 5.0

###28ª Exercício
Escreva um programa que gere um número aleatório entre 1 e 100 e mostre na tela.

Dica: utilize o módulo random.

In [98]:
import random
num=random.randint(1,100)
print(num)

33

###29ª Exercício
Elabore um progama para verificar se um ano é bissexto ou não. A condição para ser um ano bissexto é: o ano deve ser divisível por 400; ou se for divisível por 4 e não for divisível por 100.

In [100]:
ano=int(input('Ano : '))
if ano%400==0 or (ano%4==0 and not ano%100==0):
    print('Ano bissexto.')
else:
    print('Ano não bissexto.')

Ano : 2024
Ano bissexto.

###30ª Exercício
Elabore um programa para calcular o tamanho de uma string.

In [101]:
string=input('Digite algo: ')
print(len(string))

Digite algo: thiago
6

###31ª Exercício
Utilize o módulo datetime e mostre na tela a data e hora atual do sistema de acordo com o formato descrito abaixo.

In [102]:
import datetime

data_atual=datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

21/02/2024 - 21:36:45

###32ª Exercício
Escreva um programa que inverta uma string. Exemplos:

Hello World!

Python

!dlroW olleH

nohtyP

In [103]:
string1='Hello World!'
string2='Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World!
Python
!dlroW olleH
nohtyP

###33ª Exercício
Escreva um programa para mostrar na tela o calendário do mês de dezembro de 2024.

In [104]:
import calendar
print(calendar.month(2024,12))

   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

###34ª Exercício
Modifique o programa anterior e permita que o usuário especifique o ano e o mês a serem mostrados na tela.

In [105]:
import calendar
ano=int(input('Ano: '))
mes=int(input('Mês: '))

print(calendar.month(ano,mes))

Ano: 2024
Mês: 6
     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

###35ª Exercício
Escreva um script que mostre na tela o preço de um produto associado a uma categoria especificada pelo usuário. Utilize como referência as informações a seguir. Caso o usuário não digite uma categoria válida (número entre 1 e 10) mostre na tela uma mensagem personalizada.

In [106]:
categoria=int(input('Digite a categoria do produto: '))
if categoria==1:
    print('O preço do produto é: $ 0.5')
elif categoria==2:
    print('O preço do produto é: $ 11.3')
elif categoria==3:
    print('O preço do produto é: $ 17.5')
elif categoria==4:
    print('O preço do produto é: $ 33.97')
elif categoria==5:
    print('O preço do produto é: $ 103.47')
elif categoria==6:
    print('O preço do produto é: $ 44.67')
elif categoria==7:
    print('O preço do produto é: $ 12.55')
elif categoria==8:
    print('O preço do produto é: $ 14.87')
elif categoria==9:
    print('O preço do produto é: $ 98.12')
elif categoria==10:
    print('O preço do produto é: $ 131.4')
else:
    print('Opção inválida.')

Digite a categoria do produto: 1
O preço do produto é: $ 0.5

###36ª Exercício
Resolva o exercício anterior para as categorias de 1 a 8. Utilize estruturas aninhadas.

In [107]:
categoria=int(input('Categoria do produto: '))
if categoria==1:
    print('Preço: $ 0.5')
else:
    if categoria==2:
        print('Preço: $ 11.35')
    else:
        if categoria==3:
            print('Preço: $ 17.5')
        else:
            if categoria==4:
                print('Preço: $ 33.97')
            else:
                if categoria==5:
                    print('Preço: $ 103.47')
                else:
                    if categoria==6:
                        print('Preço: $ 44.67')
                    else:
                        if categoria==7:
                            print('Preço: $ 12.55')
                        else:
                            if categoria==8:
                                print('Preço: $ 14.87')
                            else:
                                print('Categoria inválida.')

Categoria do produto: 4
Preço: $ 33.97

###37ª Exercício
Determine se uma letra inserida pelo usuário é uma vogal ou consoante. Armazene as vogais em uma lista e implemente sua solução. Desconsidere a possibilidade de o usuário inserir números ou caracteres especiais.

In [108]:
letra=input('Digite uma letra: ')
vogais=['a','e','i','o','u']
if letra in vogais:
    print('A letra digitada é uma vogal.')
else:
    print('A letra digitada é uma consoante.')

Digite uma letra: g
A letra digitada é uma consoante.

###38ª Exercício
Escreva um script para classificar um triângulo de acordo com o tamanho dos seus lados. Considere as seguintes informações:

Triângulo equilátero: todos os lados possuem o mesmo tamanho;

Trângulo escaleno: todos os lados possuem medidas diferentes;

Triângulo isósceles: caracterizado por ter dois lados com o mesmo tamanho.

In [109]:
ladoA=float(input('Lado A: '))
ladoB=float(input('Lado B: '))
ladoC=float(input('Lado C: '))
if ladoA==ladoB==ladoC:
    print('O triângulo é equilátero.')
elif ladoA==ladoB or ladoA==ladoC or ladoB==ladoC:
    print('O triângulo é isósceles.')
else:
    print('O triângulo é escaleno.')

Lado A: 3
Lado B: 4
Lado C: 5
O triângulo é escaleno.

###39ª Exercício
Implemente uma calculadora simples com as operações aritméticas básicas. O usuário deverá especificar a operação desejada (+,-,*,/) e seguidamente inserir dois valores. Caso, o usuário escolha divisão e insira o valor do denominar 0 mostre uma mensagem personalizada. Para os demais casos, mostre na tela o resultado da operação desejada.

In [110]:
operacao=input('Escolha a operação deseja: (+,-,*,/)')
if operacao in ['+','-','*','/']:
    num1=float(input('Número 1: '))
    num2=float(input('Número 2: '))
    if operacao=='+':
        print(f'{num1}+{num2}={num1+num2}')
    elif operacao=='-':
        print(f'{num1}-{num2}={num1-num2}')
    elif operacao=='*':
        print(f'{num1}*{num2}={num1*num2}')
    else:
        if num2==0:
            print('O denominador precisa ser diferente de zero.')
        else:
            print(f'{num1}/{num2}={num1/num2}')
else:
    print('Opção inválida.')

Escolha a operação deseja: (+,-,*,/)+
Número 1: 5
Número 2: 3
5.0+3.0=8.0

###40ª Exercício
Escreva um programa que mostre de 1 até 50 na tela.

In [111]:
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

###41ª Exercício
Escreva um programa que mostre de 50 até 1 na tela.

In [112]:
for num in range(50,0,-1):
    print(num)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

###42ª Exercício
Escreva um programa que mostre de 150 até 200 na tela.

In [113]:
for num in range(150,201):
    print(num)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

###43ª Exercício
Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico: 5 4 3 2 1 0

In [114]:
for num in range(5,-1,-1):
    print(num)

5
4
3
2
1
0

###44ª Exercício
Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.

In [115]:
num=int(input('Digite um número: '))  #receber número do usuário

for valor in range(1,num+1):
    print(valor)

Digite um número: 5
1
2
3
4
5

###45ª Exercício
Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.

In [116]:
lista=[]
x=1
#armazenando os números em uma lista
while len(lista)<20:
    if x%5==0:
        lista.append(x)
        x+=1
    x+=1

#mostrando os números na tela
for num in lista:
    print(num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

###46ª Exercício
Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.

In [117]:
valor=int(input('Tabuada:'))
for num in range(1,11):
    print(f'{valor} x {num} = {valor*num}')

Tabuada:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

###47ª Exercício
Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10

In [126]:
for valor in range(1,11):

  print('-----------')
  print(f'Tabuada do {valor}')
  for numero in range(1,11):
    print(f'{valor} x {numero} = {valor*numero}')

-----------
Tabuada do 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
-----------
Tabuada do 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
-----------
Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
-----------
Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
-----------
Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
-----------
Tabuada do 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
-----------
Tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
-----------
Tabuada do 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
-----------
Tabuada do 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
-----------
Tabuada do 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

###48ª Exercício
Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while.

In [127]:
x=1
for i in range(1,11):
    print(i)
    if i==10:
        while x<=10:
            print(x)
            x+=1
            if x==11:
                y=1
                while y<=10:
                    print(y)
                    y+=1
                    if y==11:
                        print('Fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim

###49ª Exercício
Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [128]:
num=0
while 0<=num<=10:
    num=int(input('Insira um número inteiro entre 0-10: '))
    if num<0 or num>10:
        print('Fim do programa.')

Insira um número inteiro entre 0-10: 10
Insira um número inteiro entre 0-10: 5
Insira um número inteiro entre 0-10: 3
Insira um número inteiro entre 0-10: 11
Fim do programa.

###50ª Exercício
Em um único loop escreva um programa que mostre na tela de 0-5, cinco vezes e ao final mostre a mensagem Fim . Utilize apenas for em sua implementação. Seu programa deverá gerar um output com o seguinte formato:

In [129]:
for i in range(0,6):
    print(i)

    if i==5:
        for j in range(0,6):
            print(j)

            if j==5:
                for k in range(0,6):
                    print(k)

                    if k==5:
                        for l in range(0,6):
                            print(l)

                            if l==5:
                                for m in range(0,6):
                                    print(m)

                                    if m==5:
                                        print('Fim')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim